[submodule "elmerfem"]
	path = elmerfem
	url = https://github.com/ElmerCSC/elmerfem.git
[submodule "foam-extend-3.2"]
	path = foam-extend-3.2
	url = git://git.code.sf.net/p/foam-extend/foam-extend-3.2
[submodule "foam/foam-extend-3.2"]
	path = foam/foam-extend-3.2
	url = git://git.code.sf.net/p/foam-extend/foam-extend-3.2
[submodule "IMPACT"]
	path = IMPACT
	url = https://github.com/IllinoisRocstar/IMPACT.git
